
#ourbrands {
	padding-top: 120px;
	padding-bottom: 100px;
}

/* ourbrands section styles
/* ========================================== */
#ourbrands .col-md-4 {
  display: block;
  width: 100%;
  border: 4px solid transparent;
  padding: 42px;
  transition: all 0.4s linear;
}

#ourbrands .col-md-4:hover {
  border: 4px solid #000000;
}

#ourbrands h3 {
  font-size: 16px;
}

#ourbrands .col-md-4 hr {
  margin-left: 0;
}

@media (max-width: 768px) {
  
  #ourbrands .col-md-4 {
    text-align: center;
  }
  #ourbrands .col-md-4 hr {
    margin-left: auto;
  }
}